<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day  1 of 30Days of Code </title>
</head>
<body>
    <h2>Welcome to 30 Days of Code</h2>
    <h4>{{name}}: Rendering Template with Flask</h4>
    <p>
        Flask is a microframework for Python. It is designed to be very easy to use and provides a lot of out of the box functionality.</p>
</body>
</html>
